<%- include('./partials/head') %>
    <h2>Home</h2>
    <%=/*  JSON.stringify(result) */ %>
    <a href="/auth/google">
        
               
        <p ><b>Sign in with google</b></p> 
       
    </div>
</a>
   

    <%- include('./partials/foot') %>